@import "./theme/theme";

* {
	box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: $c-1;
  text-align: center;
	font-family: $core-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
  margin-top: 4rem;
  justify-content: center;
}

hr {
  border: 3px solid $c-7;
  margin: 1rem 0;
}

a {
  text-decoration: none;
	font-weight: bold;
	font-family: $core-font;
}

button {
	color: $c-1;
	font-weight: bold;
	background-color: $c-3;
	border: 0;
	border-radius: 0.4rem;
	padding: 0.5rem 0.7rem;
	text-transform: uppercase;

  &.animate {
    transition: all .15s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
      transform: translateY(1px);
      background-color: $c-4;
      box-shadow: none;
    }
  }

	&.block {
		width: 100%;
		display: block;
		border-radius: 0;
		&:hover { transform: none; }
		&:active { transform: none;}
	}

  &:hover {
    background-color: $c-4;
  }

  &:active {
    background-color: $c-6;
    color: $c-2;
  }
}

input[type=text] {
	padding: 0.5rem 0.7rem;
	font-weight: bold;
  border: none;
	border-radius: 0.4rem;
  background-color: $c-1;
  color: $c-3;
  border: 3px solid $c-3;

	&.block {
		width: 100%;
		display: block;
		border-radius: 0;
  }
}
